<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Access.Dao" version="15.0.4420.1018" targetFramework="net472" />
  <package id="SunnyUI" version="3.2.6.1" targetFramework="net472" />
  <package id="SunnyUI.Common" version="3.2.6" targetFramework="net472" />
</packages>